<a href="#" class="btn btn-default" data-bind="click: $parent.clickCancelButton">
    <span class="glyphicon glyphicon-off"></span>
    Cancel
</a>
<button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-ok"></span>
    Save
</button>

