<div class="panel panel-primary">
    <div class="panel-heading">Menu Clients</div>
    <div class="panel-body">
        <p></p>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">Client Information</a>
        <a href="#" class="list-group-item">Client Update</a>
        <a href="#" class="list-group-item">New Client</a>
    </div>
</div>
