<div class="panel panel-primary">
    <div class="panel-heading">Menu Vendors</div>
    <div class="panel-body">
        <p></p>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">Vendor Update</a>
        <a href="#" class="list-group-item">New Vendor</a>
    </div>
</div>

