<div class="panel panel-primary">
    <div class="panel-heading">Menu Clients</div>
    <div class="panel-body">
        <p></p>
    </div>
    <div class="list-group">
        <a href="#/clients" class="list-group-item" data-bind="css: { active: action()==='index' }">Client Information</a>
        <a href="#/clients/search" class="list-group-item" data-bind="css: { active: action()==='search' }">Client Update</a>
        <a href="#/clients/insert" class="list-group-item" data-bind="css: { active: action()==='insert' }">New Client</a>
    </div>
</div>
