<div class="row">
    <div class="col-md-3">
        Code:<br />
        <input type="text" class="form-control" placeholder="Client code" name="code" data-bind="textInput: codeSearch" />
    </div>
    <div class="col-md-3">
        Name:<br />
        <input type="text" class="form-control" placeholder="Client name" name="name" data-bind="textInput: nameSearch" />
    </div>
    <div class="col-md-3">
        Phone:<br />
        <input type="text" class="form-control" placeholder="Phone number" name="phone" data-bind="textInput: phoneSearch" />
    </div>
    <div class="col-md-3">
        <br />
        <button class="btn btn-default" data-bind="click: clickSearchButton">Submit</button>
        <button class="btn btn-default" data-bind="click: clickResetButton">Reset</button>
    </div>
</div>
