<div class="panel panel-primary">
    <div class="panel-heading">Tracking menu</div>
    <div class="panel-body">
        <p></p>
    </div>
    <div class="list-group">
        <a href="#/tracking" class="list-group-item" data-bind="css: { active: action()==='home' }">Auditor info</a>
        <a href="#/tracking/reports" class="list-group-item" data-bind="css: { active: action()==='reports' }">Reports</a>
        <a href="#/tracking/employees" class="list-group-item" data-bind="css: { active: action()==='employees' }">Employees</a>
        <a href="#/tracking/finance" class="list-group-item" data-bind="css: { active: action()==='finance' }">Report info</a>
    </div>
</div>
